.page-section {
    padding: 6rem;
}
.section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
    color: $bs-secondary;
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-weight: 700;
    text-align: center;
}
.projects{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.project{
    margin: 3rem;
    h3{
        text-align: center;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $bs-secondary;
        font-family: $font-montserrat;
    }
}

.icons a  img{
    width: 5rem;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(11deg) brightness(109%) contrast(101%);
    &:hover{
        filter: invert(23%) sepia(29%) saturate(549%) hue-rotate(168deg) brightness(93%) contrast(96%);
    }

}
.portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
    
}
.item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
    height: 100%;
    width: 100%;
    &:hover{
        opacity: 1;
    }
    .icon{
        width: 3rem;
        filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(11deg) brightness(109%) contrast(101%);
        &:hover{
            filter: invert(23%) sepia(29%) saturate(549%) hue-rotate(168deg) brightness(93%) contrast(96%);
        }

    }
}
.item-caption-content{
    font-size: 1.5rem;
    color: white;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .icons{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin-top: 20%;
    }
}
.img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}